{
  "presets": [
    ["@babel/env", { 
      "modules": false 
    }],
    "@babel/react",
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}